/*!CK:3697890545!*//*1422283230,*/

.sp_7kgqeQ6deSk{background-image:url(/rsrc.php/v2/y3/r/yobBfnbRjR6.png);background-size:34px 42px;background-repeat:no-repeat;display:inline-block;height:22px;width:22px}.sp_7kgqeQ6deSk.sx_45263a{width:16px;height:16px;background-position:-16px 0}.selected .sp_7kgqeQ6deSk.sx_45263a{background-position:0 0}.sp_7kgqeQ6deSk.sx_b45b62{background-position:0 -18px}

#bootloader_ocfEq { height: 42px; }
.bootloader_ocfEq { display:block !important; }