/*!CK:234827420!*//*1421611732,*/

._2t8p .note .uiUfi{width:301px}
._2xh1{background-image:url(/rsrc.php/v2/y6/r/l9Fe9Ugss0S.gif)}._2xh2{background-image:url(/rsrc.php/v2/yg/r/V8Yrm0eKZpi.gif)}._2xh3{background-image:url(/rsrc.php/v2/y2/r/o19N6EzzbUm.png)}._2xh2,._2xh1,._2xh3{background-position:left 0;background-repeat:no-repeat;margin:0 3px;padding-left:18px}

#bootloader_RKhWt { height: 42px; }
.bootloader_RKhWt { display:block !important; }