/*!CK:3788128913!*//*1421163007,*/

.sp_XPW3AIF5mwk{background-image:url(/rsrc.php/v2/y3/r/CnNWdf48U96.png);background-size:14px 28px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_XPW3AIF5mwk.sx_83339a{background-position:0 -14px}.sp_XPW3AIF5mwk.sx_e77c50{background-position:0 0}

#bootloader_kaBfh { height: 42px; }
.bootloader_kaBfh { display:block !important; }