/* Redbird Red #c */
body {
	margin: 0;
	/* padding-top: 70px; required for fixed nav */
}
h1, h2, h5 {
	text-align: center;
	font-weight: normal;
	font-weight: lighter;
}
h2 {
	font-size: 4.0em;
	vertical-align: middle;
	color: #000;
	padding-bottom: 10px;
}
h3 {
	font-size: 1.75em;
}
h3.speaker {
	font-weight: normal;
}
h4 {
	font-size: 2.2em;
	font-weight: bold;
	color: #000;
}
img {
	max-width: 100%;
	height: auto;
}
footer {
	text-align: center;
	width: 100%;
	height: 50px;
	padding: 0px 10px 10px 10px;
}
/* Sections */
#about {
	margin-top: 50px;
}
#hero {
	background-image: url("../images/isu-hero.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #ccc;
}
#social {
	margin-left: auto;
	margin-right: auto;
	/*background-image: url('../images/gray.png');
	background-repeat: repeat;*/
	margin-top: 5px;
}
#keynote {
	margin-top: 50px;
}
#schedule {
	padding: 50px;
}
#sponsor {
	width: 100%;
	padding: 50px;
}
.btn-primary {
	background-color: #D90000; 
	border-color: #D90000;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	background-color: #D90000; 
	border-color: #D90000;
}
.row {
	margin-top: 30px;
	margin-bottom: 30px;
}
.center {
	text-align: center;
}
.main {
	width: 308px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	margin-top: 40px;
}
.navbar {
	margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #D90000;
	font-size: 20px;
	font-weight: lighter;
}
.note {
	margin-top: 15px;
}
.jumbotron {
	height: 800px !important;
}
.location {
	display: block;
	font-size: 0.75em;
}
.red {
	color: #D90000;
}
.speaker {
	text-align: center;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.table {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.time {
	text-align: right !important;
	width: 75%;
  margin-left: 10px;
  float: left;
}
.fb_iframe_widget iframe {
	margin-left: 25px;
}
.twitter-follow-button[style] { vertical-align: text-bottom !important; margin-left: 35px; margin-top: 1px;}

/* TABLE STYLES */
.schedule {
	margin-left: auto;
	margin-right: auto;
	font-size: 1.0em;
}
table.schedule td {
	/*background-color: #c0c0c0;*/
	border-left: 5px solid #fff;
	font-size: 1.7em;
	font-weight: normal;
}
table.schedule td.time {
	/*background-color: pink;*/
	font-weight: bold;
}
table.schedule th {
	/*background-color: green;*/
	width: 33%;
}


/* MEDIA QUERIES */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.table {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	.table {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

@media only screen 
and (max-width : 600px) {
	.table {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	.table {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}