/* Styles for RedbirdHacks website */
article {
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%; }

body, html {
  height: 100%;
  position: relative;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  max-width: 100%; }

section.faqs a {
  color: #e01b22; }

div#sponsors.center a {
  color: #fff; }

button {
  background-color: #e01b22;
  height: 35px;
  width: 110px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 1em;
  font-weight: normal;
  padding: 5px; }

footer {
  height: 300px; }

h1 {
  font-weight: 300;
  font-size: 7em;
  text-align: center;
  margin: 0; }

h2 {
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff; }

h3 {
  font-weight: 300;
  font-size: 2em;
  text-align: center; }

img {
  height: auto;
  max-width: 100%; }

input {
  display: block;
  width: 25%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #333;
  font-size: 1em;
  padding-left: 10px;
  margin-top: 5px; }

label {
  display: block;
  margin: 12px 0 0;
  font-weight: 700;
  float: left;
  clear: left;
  width: 200px;
  text-align: right; }

input, select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

select {
  height: 37px;
  width: 22% !important;
  border-radius: 4px;
  border: 1px solid #333;
  font-size: 1em;
  padding-left: 10px;
  margin-top: 5px; }

p {
  font-size: 1.2em; }

p#filename {
  margin: 0;
  margin-left: 10px; }

section {
  clear: both;
  margin: 0; }

.hidden {
  display: none; }

#button {
  margin-left: auto;
  margin-right: auto;
}

#hero {
  height: 100%;
  background: url("../images/cob.png") no-repeat fixed;
  background-size: cover;
  background-position: center top;
  width: 100%; }

#email {
  margin: 10px; }

#registration {
  background-color: #e01b22;
  clear: both;
  color: #fff;
  padding: 75px 50px 75px 50px; }

#faqs {
  background-color: #e01b22;
  clear: both;
  color: #fff;
  padding: 75px 50px 75px 50px; }

#sponsors {
  background-color: #e01b22;
  clear: both;
  color: #fff;
  padding: 75px 50px 75px 50px; }

/*#scrollHint {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center; }

#scrollHint img {
  background-color: #f8f8f8;
  opacity: 0.6;
  border: 0px; }
*/
input#file {
  border: none; }

.center {
  text-align: center; }

.col33 {
  width: 33%;
  display: table-cell;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col50 {
  width: 5%;
  display: table-cell;
  /* background-color: pink */ }

.disclaim-signup {
  font-size: 1em;
  padding: 0;
  margin: 0 0 5px 0; }

.email {
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  background-color: #e01b22;
  padding: 7px 100px 7px 100px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none; }

.faqs {
  margin: 15px; }

.gray {
  color: #333; }

.red {
  color: #e01b22; }

.registration {
  margin: 15px; }

.faqs {
  margin: 15px; }

.row {
  width: 100%;
  clear: both;
  display: table-row;
  margin-left: auto;
  margin-right: auto; }

.sponsors {
  margin: 20px;
  display: block; }

.subhead {
  font-size: 2em;
  color: #000;
  text-align: center;
  padding: 0;
  margin: 0; }

.transparent {
  background-color: #fff;
  height: 200px;
  opacity: 0.4; }

.left {
  width: 40%;
  float: left;
  text-align: right; }

.right {
  width: 22%;
  margin-left: 10px;
  float: left; }

/*# sourceMappingURL=output.css.map */
